<header class="site-header">
  <div class="header-container">
    <div class="header-content">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      {% if page.title %}
      <h1 class="post-title baseline-fix" itemprop="name headline">{{ page.title | escape | replace: "​", "<wbr>" }}</h1>
      {% else %}
      <p class="site-description">Thoughts on AI, philosophy, and tech</p>
      {% endif %}
    </div>
    <div class="profile-image">
      <a href="/about">
        <img src="/assets/img/sk.jpeg" alt="Saoud Khalifah" />
      </a>
    </div>
  </div>
</header>
